@page
@model SolicitudesModel//List<SolicitudMaterial>
@{
    ViewData["Title"] = "Listado de Solicitudes";
}

<h1>Listado de Solicitudes</h1>

<!--foreach (var solicitud in Model)
{-->
    <div class="card mb-3">
        <div class="card-header">
            Solicitud de <!--solicitud.NombreSolicitante-->
        </div>
        <div class="card-body">
            <p><strong>Salón:</strong> <!--solicitud.Salon--></p>
            <p><strong>Fecha Creación:</strong> <!--solicitud.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss")--></p>
            <p><strong>Fecha y Hora Necesidad:</strong> <!--solicitud.FechaHoraNecesidad.ToString("yyyy-MM-dd HH:mm:ss")--></p>

            <p><strong>Materiales Solicitados:</strong></p>
            <ul>
                <!--foreach (var material in solicitud.Materiales)
                {
                    <li>material</li>
                }-->
            </ul>

            <div class="text-center">
                <button class="btn btn-success">Aceptar</button>
                <button class="btn btn-danger">Rechazar</button>
            </div>
        </div>
    </div>
<!--}-->
