@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Inicio del programa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-page="/Account/CrearUsuario" class="btn btn-primary">Crear Usuario</a>

    <a asp-page="/Account/Login" class="btn btn-success">Iniciar Sesión</a>
</div>
