@page
@model PruebasModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jalando los permisos del model</h1>
    <p>Manda mensaje cuando regreses</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" asp-page-handler="Logout">
        <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
    </form>
</div>